<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Combo</title>
</head>
<body>
  <a href="/combos"><h1>Main menu</h1></a>
  <h1 style="text-align: center;">Single Item</h1>
  <div style="border: 10px solid tomato; max-width: 800px; margin: 0 auto; padding: 0 10px;">
    <h2>Main: <%= combo.main %></h2>
    <h2>Side: <%= combo.side %></h2>
    <h2>Drink: <%= combo.drink %></h2>
    <form method="POST" action="/combo/<%= comboId %>/delete">
      <button type="submit">Delete me!</button>
    </form>
  </div>

  <form method="POST" action="/combo/<%= comboId %>">
    <label>Change up my main</label>
    <input type="text" name="main" />
    <br/>
    <label>Change up my side</label>
    <input type="text" name="side" />
    <br/>
    <label>Change up my drink</label>
    <input type="text" name="drink" />
    <button>Change my Combo!</button>
  </form>

</body>
</html>